.offer-page {
  .background-gradient {
    background: url('../img/Symbol.svg') 65% 0% no-repeat, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
    border-radius: 0 0 12px 12px;
    margin-bottom: 20px;
    background-size: 524px 600px, auto;

    .offer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 129px;

      h1 {
        font-size: 38px;
        color: var(--color-basic-white);
        max-width: 315px;
        margin: 0 0 159px;
        text-align: center;
      }

      .move-down {
        margin-bottom: 30px;

        svg {
          stroke: var(--color-basic-white);
          width: 18px;
          height: 9px;
          background: transparent;
          padding: 16px 10px 13px;
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 50%;
        }

        &:hover {
          svg {
            stroke: #F0145A;
            border: 2px solid rgba(240, 20, 90, 0.5);
          }

        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .offer-page {
    .background-gradient {
      background-size: 893px 1053px, auto;
      background-position: 64% 0;

      .offer {
        padding-top: 269px;

        h1 {
          max-width: none;
          margin: 0 0 417px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .offer-page {
    .background-gradient {
      background-size: 670px 768px, auto;
      background-position: 49% 0;

      .offer {
        padding-top: 245px;

        h1 {
          max-width: none;
          margin: 0 0 289px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .offer-page {
    .background-gradient {
      background-size: 638px 800px, auto;
      background-position: 49% 0;

      .offer {
        padding-top: 261px;

        h1 {
          max-width: none;
          margin: 0 0 305px;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .offer-page {
    .background-gradient {
      background-size: 873px 1000px, auto;
      background-position: 48% 0;

      .offer {
        padding-top: 361px;

        h1 {
          max-width: none;
          margin: 0 0 405px;
        }
      }
    }
  }
}