.offer-page {

  //background-image: url("../img/Symbol.svg");
  //background-size: 523px 600px;
  //background-repeat: no-repeat;
  //background-position: -74px 0;
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 129px;

    h1 {
      color: var(--color-basic-white);
      max-width: 315px;
      margin: 0 0 159px;
      text-align: center;
    }
    .move-down {
      display: flex;
      width: 42px;
      height: 42px;
      background-image: url("../img/Scroll.svg");
      background-repeat: no-repeat;
      &:hover{
        background-image: url("../img/Scroll-active.svg");

      }
    }
  }
}


