.offer-page {

  //background-image: url("../img/Symbol.svg");
  //background-size: 523px 600px;
  //background-repeat: no-repeat;
  //background-position: -74px 0;
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 129px;

    h1 {
      font-size: 38px;
      color: var(--color-basic-white);
      max-width: 315px;
      margin: 0 0 159px;
      text-align: center;
    }
    .move-down {
      display: flex;
      width: 42px;
      height: 42px;
      margin-bottom: 30px;
      background-image: url("../img/Scroll.svg");
      background-repeat: no-repeat;
      &:hover{
        background-image: url("../img/Scroll-active.svg");

      }
    }
  }
}


@media screen and (min-width: 768px) {
  .offer-page {
    .offer {
      padding-top: 269px;

      h1 {
        max-width: none;
        margin: 0 0 417px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .offer-page {
    .offer {
      padding-top: 245px;

      h1 {
        max-width: none;
        margin: 0 0 289px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .offer-page {
    .offer {
      padding-top: 261px;

      h1 {
        max-width: none;
        margin: 0 0 305px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .offer-page {
    .offer {
      padding-top: 361px;

      h1 {
        max-width: none;
        margin: 0 0 405px;
      }
    }
  }
}