.publications {
  padding: 30px 30px 0;
  background: var(--color-grey-bg);


  .category--link {
    margin: 0 0 5px;
  }

  h2 {
    font-size: 30px;
    background: var(--color-text-pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--color-grey-separator);

    &-item {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      background: var(--color-basic-white);
      border-radius: 8px;

      img {
        border-radius: 8px 8px 0 0 ;
      }

      &-info {
        padding: 30px;

        h3 {
          font-size: 16px;
          color: var(--color-active-regular);
          position: relative;
          margin: 0 0 15px;
        }

        h4 {
          font-size: 12px;
          color: var(--color-grey-text);
          text-transform: uppercase;
          margin: 0 0 15px;
        }

        p {
          font-size: 14px;
          color: var(--color-basic-black);
          padding-top: 15px;
          border-top: 4px solid var(--color-grey-separator);
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .publications {
    padding: 30px 60px 0;

    h2 {
      font-size: 38px;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &-item-last {
        grid-column: 1/-1;

        img {
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .publications {
    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      &-item-last {
        grid-column: 3/-1;

      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .publications {
    padding:30px 160px;
  }
}